{% extends '::base-admin.html.twig' %}

{% block breadcrumbs %}
    <a href="{{ path('administration_organigramme_index') }}">Organigramme</a> / Modification d'un membre dans l'organigramme /
{% endblock %}

{% block content %}
    <h1>Modification de l'organigramme du CReSTIC</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    {{ include('@App/Administration/footer-edit.html.twig', {var: 'organigramme'}) }}
    {{ form_end(edit_form) }}
{% endblock %}
