<div class="row" style="clear: both; margin-top: 20px;">
	<div class="col-sm-12">
		{% for cat in categories %}
			<h2>{{ cat.libelle }}</h2>
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Grade</th>
					<th>Département</th>
					<th>Bureau</th>
					<th>Téléphone</th>
					<th>Actions</th>
				</tr>
				</thead>
				{% for membre in membres if membre.status == cat.code %}
					<tr>
						<td>{{ membre.nom|title }}</td>
						<td>{{ membre.prenom|title }}</td>
						<td>{{ membre.statutLong }}</td>
						<td>{% if membre.departementMembre != null %}{{ membre.departementMembre.sigle }}{% else %} - {%
							endif %}</td>
						<td>{{ membre.localisation }}</td>
						<td>{% if membre.tel != '' %}{{ membre.tel }}{% elseif membre.telPortable !=
							'' %}{{ membre.telPortable }}{% endif %}</td>
						<th>
							<a href="mailto:{{ membre.email }}" target="_blank"><span class="fa fa-envelope"></span></a>
							<a href="{{ path('public_membres_profil', {slug: membre.slug}) }}" target="_blank"
							   title="Profil de {{ membre.display }}"><i class="fa fa-eye"></i></a>
						</th>
					</tr>
				{% endfor %}
			</table>
		{% endfor %}
	</div>
</div>