{% extends '::base-admin.html.twig' %}


{% block breadcrumbs %}
	<a href="{{ path('administration_emplois_index') }}">Offres d'emplois</a> / Détails /
{% endblock %}

{% block content %}
	<h1>Détails d'une offre d'emploi</h1>

	<table class="table">
		<tbody>
		<tr>
			<th>Titre</th>
			<td colspan="3">{{ emplois.titre }}</td>
		</tr>
		<tr>
			<th>Resumé</th>
			<td colspan="3">{{ emplois.resume }}</td>
		</tr>
		<tr>
			<th>Description</th>
			<td colspan="3">{{ emplois.description|raw }}</td>
		</tr>
		<tr>
			<th>Début souhaité</th>
			<td>{% if emplois.debut %}{{ emplois.debut|date('d/m/Y') }}{% endif %}</td>
			<th>Durée</th>
			<td>{{ emplois.duree }}</td>
		</tr>
		<tr>
			<th>Pdf</th>
			<td><a href="{{ asset('uploads/emplois/'~emplois.pdf) }}" target="_blank">Voir le fichier joint</a></td>
			<th>Pourvue</th>
			<td>{% if emplois.pourvue %}Oui{% else %}Non{% endif %}</td>
		</tr>
		<tr>
			<th>Créé</th>
			<td>{% if emplois.created %}Le {{ emplois.created|date('d/m/Y à H:i') }}{% endif %}</td>
			<th>Mise à jour</th>
			<td>{% if emplois.updated %}Le {{ emplois.updated|date('d/m/Y à H:i') }}{% endif %}</td>
		</tr>
		</tbody>
	</table>

	{{ include('@App/Administration/footer-show.html.twig', {var: 'emplois', obj:emplois.id}) }}
{% endblock %}
