{% extends '::base-admin.html.twig' %}
{% block breadcrumbs %}
	<a href="{{ path('administration_cms_index') }}">Pages</a> / Modification /
{% endblock %}

{% block content %}
    <h1>Modification d'une page</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
	{{ include('@App/Administration/footer-edit.html.twig', {var: 'cms'}) }}

	{{ form_end(edit_form) }}
{% endblock %}
