{% extends '::base-admin.html.twig' %}

{% block breadcrumbs %}
	Membres /
{% endblock %}

{% block content %}
    <h1>Membres du CReSTIC</h1>

    <table class="table" id="data-membres">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
	            <th>Cnu</th>
                <th>Status</th>
                <th>Site</th>
                <th>Dernière Con.</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for membreCrestic in membresCrestics %}
            <tr>
                <td>{{ membreCrestic.nom|upper }}</td>
                <td>{{ membreCrestic.prenom|capitalize }}</td>
                <td>{{ membreCrestic.cnu }}</td>
                <td>{{ membreCrestic.statutLong }}</td>
                <td>{{ membreCrestic.site }}</td>
                <td>{% if membreCrestic.lastLogin != null %}{{ membreCrestic.lastLogin|date('d/m/Y H:i') }}{% else %}Jamais{% endif %}</td>
                <td>
	                <a href="{{ path('administration_membres_show_light', { 'id': membreCrestic.id }) }}" target="_blank" class="btn
	                btn-info" title="Voir"><i class="fa fa-eye"></i> </a>
	                <a href="{{ path('administration_membres_edit', { 'id': membreCrestic.id }) }}" class="btn
                            btn-warning" title="Modifier"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a href="{{ path('administration_membres_new') }}"  class="btn btn-primary">Ajouter un nouveau membre du CReSTIC</a>
{% endblock %}

{% block javascripts %}
<script>
	$(document).ready(function (e) {
		$('#data-membres').dataTable({});
	});
</script>
{% endblock %}
