<div class="row">
	<div class="col-sm-8">
		{{ form_row(form.typeOuvrage) }}
	</div>
	<div class="col-sm-4">
		{{ form_row(form.vulgarisation) }}
		{{ form_row(form.monographie) }}
		{{ form_row(form.collectif) }}
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		{{ form_row(form.editeur) }}
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		{{ form_row(form.serie) }}
	</div>
	<div class="col-sm-6">
		{{ form_row(form.isbn) }}
	</div>
</div>

