<div class="row">
	<div class="col-sm-6">
		{{ form_row(form.datedepot) }}
	</div>
	<div class="col-sm-6">
		{{ form_row(form.numerodepot) }}
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		{{ form_row(form.datedelivrance) }}
	</div>
	<div class="col-sm-6">
		{{ form_row(form.numerodelivrance) }}
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		{{ form_row(form.secteur) }}
	</div>
	<div class="col-sm-6">
		{{ form_row(form.pays) }}
	</div>
</div>

