<div class="row">
	<div class="col-sm-12">

		{{ form_row(form.bar.titre) }}
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		{{ form_row(form.bar.resume) }}
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		{{ form_row(form.bar.keywords) }}
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		{{ form_row(form.bar.publicationInternationale) }}
	</div>
	<div class="col-sm-6">
        {{ form_row(form.bar.publicationPourLeCrestic) }}
	</div>
</div>

<div class="row">
	<div class="col-sm-8">
		{{ form_row(form.bar.pdfFile) }}
	</div>
	<div class="col-sm-4">
		{{ form_row(form.bar.pdfVisible) }}
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		{{ form_row(form.bar.doi) }}
	</div>
	<div class="col-sm-6">
		{{ form_row(form.bar.url) }}
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		{{ form_row(form.bar.pageDebut) }}
	</div>
	<div class="col-sm-6">
		{{ form_row(form.bar.pageFin) }}
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		{{ form_row(form.bar.moisPublication) }}
	</div>
	<div class="col-sm-6">
		{{ form_row(form.bar.anneePublication) }}
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		{{ form_row(form.bar.commentaire) }}
	</div>
</div>


