<div class="row">
	<div class="col-sm-6">
		{{ form_row(form.volume) }}
	</div>
	<div class="col-sm-6">
		{{ form_row(form.numero) }}
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		{{ form_row(form.issn) }}
	</div>
	<div class="col-sm-6">
		{{ form_row(form.specialIssue) }}
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		{{ form_row(form.revue) }}
	</div>
	<div class="col-sm-6">
		{{ form_row(form.editeur) }}
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		{{ form_row(form.redacteurChef) }}
	</div>
	<div class="col-sm-6">
	</div>
</div>

<div class="row">
	<div class="col-sm-4">{{ form_row(form.comiteLecture) }}</div>
	<div class="col-sm-4">{{ form_row(form.vulgarisation) }}</div>
	<div class="col-sm-4">{{ form_row(form.editorial) }}</div>
</div>