<div class="row">
	<div class="col-sm-9">
		{{ form_row(form.conference) }}
	</div>
	<div class="col-sm-3">
		<a href="#modalAddConference" id="addConference" data-toggle="modal" class="btn btn-info btn-block"><i class="fa fa-plus-circle"></i> Ajouter une conférence</a>
	</div>
</div>
<div class="row">
	<div class="col-sm-3">{{ form_row(form.dateDebut) }}</div>
	<div class="col-sm-3">{{ form_row(form.dateFin) }}</div>
	<div class="col-sm-3">{{ form_row(form.tauxSelection) }}</div>
	<div class="col-sm-3">{{ form_row(form.urlConference) }}</div>
</div>
<div class="row">
	<div class="col-sm-4">{{ form_row(form.editeur) }}</div>
	<div class="col-sm-4">{{ form_row(form.ville) }}</div>
	<div class="col-sm-4">{{ form_row(form.pays) }}</div>
</div>

<div class="row">
	<div class="col-sm-3">
		{{ form_row(form.comiteLecture) }}
	</div>
	<div class="col-sm-3">
		{{ form_row(form.acte) }}
	</div>
	<div class="col-sm-3">
		{{ form_row(form.poster) }}
	</div>
	<div class="col-sm-3">
		{{ form_row(form.invite) }}
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		{{ form_row(form.serie) }}
	</div>
	<div class="col-sm-4">
		{{ form_row(form.volume) }}
	</div>
	<div class="col-sm-4">
		{{ form_row(form.isbn) }}
	</div>
</div>

<!-- Default Modal -->
<div class="modal fade" id="modalAddConference" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="defaultModalLabel">Création d'une conférence</h4>
			</div>
			<div class="modal-body" id="body-conference">

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-rw btn-warning" data-dismiss="modal">Annuler</button>
				<button type="button" class="btn btn-rw btn-success" data-dismiss="modal" id="btnAddConference">Ajouter</button>
			</div>
		</div><!-- /modal content -->
	</div><!-- /modal dialog -->
</div><!-- /modal holder -->
<!-- End Default Modal -->

