<div class="row">
	<div class="col-sm-6">
		{{ form_row(form.dateDepot) }}
	</div>
	<div class="col-sm-6">
		{{ form_row(form.numeroDepot) }}
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		{{ form_row(form.dateDelivrance) }}
	</div>
	<div class="col-sm-6">
		{{ form_row(form.numeroDelivrance) }}
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		{{ form_row(form.secteur) }}
	</div>
	<div class="col-sm-6">
		{{ form_row(form.pays) }}
	</div>
</div>

