<div class="row">
	<div class="col-sm-6">
		{{ form_row(form.dateSoutenance) }}
	</div>
	<div class="col-sm-6">
		{{ form_row(form.phdorhdr) }}
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
        {{ form_row(form.discipline) }}
	</div>
</div>

<div class="row">
	<div class="col-sm-8">
		{{ form_row(form.departement) }}
	</div>
	<div class="col-sm-4">
		{{ form_row(form.abbrevDepartement) }}
	</div>
</div>

<div class="row">
	<div class="col-sm-8">
		{{ form_row(form.universite) }}
	</div>
	<div class="col-sm-4">
		{{ form_row(form.abbrevUniversite) }}
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		{{ form_row(form.ville) }}
	</div>
	<div class="col-sm-6">
		{{ form_row(form.pays) }}
	</div>
</div>

