{% extends 'base-utilisateur.html.twig' %}

{% block breadcrumbs %}
Vos Publications /
{% endblock %}
{% block content %}

<ul class="nav nav-tabs nav-justified " role="tablist">
	<li class="active"><a href="#revues" role="tab" data-toggle="tab">Revues</a></li>
	<li><a href="#conferences" role="tab" data-toggle="tab">Conférences</a></li>
	<li><a href="#ouvrages" role="tab" data-toggle="tab">Ouvrages</a></li>
	<li><a href="#chapitres" role="tab" data-toggle="tab">Chapitres</a></li>
	<li><a href="#rapports" role="tab" data-toggle="tab">Rapports</a></li>
	<li><a href="#brevets" role="tab" data-toggle="tab">Brevets</a></li>
	<li><a href="#theses" role="tab" data-toggle="tab">Thèses et Habilitations</a></li>
</ul>
<div class="tab-content tab-default">
	<div class="tab-pane active" id="revues">
		<div class="row">
			<div class="col-sm-8">{{ pubRevues|length }} publication(s) dans des revues internationales et
			                                             nationales</div>
			<div class="col-sm-4">
				<a href="{{ path('utilisateur_publications_new', {type: 'revue'}) }}" class="btn
			btn-primary btn-block">
					Ajouter une publication dans une revue
				</a>
			</div>
		</div>
		<br>
		{{ include('@App/Utilisateur/publications/table-publications.html.twig', {'publications' : pubRevues,
			type:'revue'}) }}

	</div>
	<div class="tab-pane " id="conferences">
		<div class="row">
			<div class="col-sm-8">{{ pubConferences|length }} publication(s) dans des conférences internationales et
			                                             nationales</div>
			<div class="col-sm-4">
				<a href="{{ path('utilisateur_publications_new', {type: 'conference'}) }}" class="btn
			btn-primary btn-block">
					Ajouter une publication dans une conférence
				</a>
			</div>
		</div>
		<br>
		{{ include('@App/Utilisateur/publications/table-publications.html.twig', {'publications' : pubConferences,
			type:'conference'}) }}
	</div>
	<div class="tab-pane " id="ouvrages">
		<div class="row">
			<div class="col-sm-8">{{ pubOuvrages|length }} publication(s) d'ouvrages</div>
			<div class="col-sm-4"><a href="{{ path('utilisateur_publications_new', {type: 'ouvrage'}) }}" class="btn
			btn-primary btn-block">Ajouter un ouvrage</a></div>
		</div>
		<br>
		{{ include('@App/Utilisateur/publications/table-publications.html.twig', {'publications' : pubOuvrages,
			type:'ouvrage'}) }}

	</div>
	<div class="tab-pane " id="chapitres">
		<div class="row">
			<div class="col-sm-8">{{ pubChapitres|length }} publication(s) de chapitres dans des ouvrages</div>
			<div class="col-sm-4">
				<a href="{{ path('utilisateur_publications_new', {type: 'chapitre'}) }}" class="btn btn-primary
				btn-block">
					Ajouter une publication d'un chapitre dans un ouvrage
				</a>
			</div>
		</div>
		<br>
		{{ include('@App/Utilisateur/publications/table-publications.html.twig', {'publications' : pubChapitres,
			type:'chapitre'}) }}

	</div>
	<div class="tab-pane " id="rapports">
		<div class="row">
			<div class="col-sm-8">{{ pubRapports|length }} publication(s) de rapports</div>
			<div class="col-sm-4">
				<a href="{{ path('utilisateur_publications_new', {type: 'rapport'}) }}" class="btn btn-primary
				btn-block">
					Ajouter un rapport
				</a>
			</div>
		</div>
		<br>
		{{ include('@App/Utilisateur/publications/table-publications.html.twig', {'publications' : pubRapports,
			type:'rapport'}) }}

	</div>
	<div class="tab-pane " id="brevets">
		<div class="row">
			<div class="col-sm-8">{{ pubBrevets|length }} publication(s) de brevets</div>
			<div class="col-sm-4">
				<a href="{{ path('utilisateur_publications_new', {type: 'brevet'}) }}" class="btn btn-primary
				btn-block">
					Ajouter un brevet
				</a>
			</div>
		</div>
		<br>
		{{ include('@App/Utilisateur/publications/table-publications.html.twig', {'publications' : pubBrevets,
			type:'brevet'}) }}

	</div>
	<div class="tab-pane " id="theses">
		<div class="row">
			<div class="col-sm-8">{{ pubTheses|length }} publication(s) de thèses ou d'habilitations</div>
			<div class="col-sm-4">
				<a href="{{ path('utilisateur_publications_new', {type: 'these'}) }}" class="btn btn-primary btn-block">
					Ajouter une thèse ou une habiliation
				</a>
			</div>
		</div>
		<br>
		{{ include('@App/Utilisateur/publications/table-publications.html.twig', {'publications' : pubTheses,
			type:'these'}) }}

	</div>
</div>

	<!-- Default Modal -->
	<div class="modal fade" id="modalSuppressionPublication" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="defaultModalLabel">Suppression d'une publication</h4>
				</div>
				<div class="modal-body" id="body-suppr-publication">

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-rw btn-warning" data-dismiss="modal">Annuler</button>
					<button type="button" class="btn btn-rw btn-success" data-dismiss="modal" data-id="" data-type="" id="btnSupprConfirm">Confirmer la suppression</button>
				</div>
			</div><!-- /modal content -->
		</div><!-- /modal dialog -->
	</div><!-- /modal holder -->
	<!-- End Default Modal -->
{% endblock %}

{% block javascripts %}
<script>
  $liste = $('#listeauteurs');

  $(document).on('click', '.suppressionPublication', function() {
    	$id = $(this).data('publication');
    	$type = $(this).data('type');

		$('#body-suppr-publication').empty().load("{{ path('getDataPublicationSuppression') }}",{id:$id, type:$type});
		$('#btnSupprConfirm').data('id', $id);
		$('#btnSupprConfirm').data('type', $type);
  });

  $(document).on('click', '#btnSupprConfirm', function() {
    var $id = $(this).data('id');
    $type = $(this).data('type');
    $.ajax({
      method:'DELETE',
	  data:{
        id: $id,
        type: $type
	  },
	  url: "{{ path('deletePublication') }}",
	  success:function(e){
        $("#ligne_" + $id).closest('tr').remove();

      }
	});
  });
  </script>
{% endblock %}
