{% extends 'base-utilisateur.html.twig' %}

{% block content %}
<h2>Ajout d'une publication | Etape 1 / 2</h2>

{{ form_start(form) }}

	{{ include('@App/Utilisateur/publications/form-publication.html.twig') }}

	{% if type == 'revue' %}
		{{ include('@App/Utilisateur/publications/form-revue.html.twig') }}
	{% elseif type =='conference' %}
		{{ include('@App/Utilisateur/publications/form-conference.html.twig') }}
	{% elseif type =='rapport' %}
		{{ include('@App/Utilisateur/publications/form-rapport.html.twig') }}
	{% elseif type =='these' %}
		{{ include('@App/Utilisateur/publications/form-these.html.twig') }}
	{% elseif type =='brevet' %}
		{{ include('@App/Utilisateur/publications/form-brevet.html.twig') }}
	{% elseif type =='ouvrage' %}
		{{ include('@App/Utilisateur/publications/form-ouvrage.html.twig') }}
	{% elseif type =='chapitre' %}
		{{ include('@App/Utilisateur/publications/form-chapitre.html.twig') }}
	{% endif %}

<div class="row">
	<div class="col-sm-7">&nbsp;</div>
	<div class="col-sm-5" style="text-align: right">
		<a href="{{ path('utilisateur_publications_index') }}">Annuler/retour</a>&nbsp;&nbsp;
		<input type="submit" class="btn btn-primary" value="Enregistrer et ajouter les auteurs" />
	</div>
</div>
{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
<script>
	$(document).ready(function(e){
	    $('#addRevue').click(function(){
            $('#body-revue').empty().load("{{ path('utilisateur_revue_ajax_modal') }}");
        });

        $('#addConference').click(function(){
            $('#body-conference').empty().load("{{ path('utilisateur_conference_ajax_modal') }}");
        });

	});

	$(document).on('click', '#btnAddRevue', function (e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: "{{ path('utilisateur_revue_ajax_modal') }}",
            data: {
                'titre': $('#appbundle_revues_titreRevue').val(),
				'sigle':$('#appbundle_revues_sigleRevue').val(),
				'internationale':$('#appbundle_revues_internationale').val(),
				'impactFactor': $('#appbundle_revues_impactFactor').val(),
				'classification': $('#appbundle_revues_classification').val(),
				'url': $('#appbundle_revues_url').val(),
				'editeur': $('#appbundle_revues_editeur').val()
			}
        }).done(function(data) {
            var newOption = new Option(data.titre, data.id, true, true);
            $('#appbundle_publicationsrevues_revue').append(newOption).trigger('change'); // Select the option with a value of '1'

            // manually trigger the `select2:select` event
            $('#appbundle_publicationsrevues_revue').trigger({
                type: 'select2:select',
                params: {
                    data: data
                }
            });

        }).fail(function(data) {
            // Optionally alert the user of an error here...
        });
	});

    $(document).on('click', '#btnAddConference', function (e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: "{{ path('utilisateur_conference_ajax_modal') }}",
            data: {
                'nom': $('#appbundle_conferences_nomConference').val(),
                'sigle':$('#appbundle_conferences_sigleConference').val(),
                'ville':$('#appbundle_conferences_ville').val(),
                'taux': $('#appbundle_conferences_tauxSelection').val(),
                'url': $('#appbundle_conferences_url').val(),
                'internationale': $('#appbundle_conferences_internationale').val(),
                'pays': $('#appbundle_conferences_pays').val(),
                'editeur': $('#appbundle_conferences_editeur').val()
            }
        }).done(function(data) {
            var newOption = new Option(data.nom, data.id, true, true);
            $('#appbundle_publicationsconferences_conference').append(newOption).trigger('change'); // Select the option with a value of '1'

            // manually trigger the `select2:select` event
            $('#appbundle_publicationsconferences_conference').trigger({
                type: 'select2:select',
                params: {
                    data: data
                }
            });

        }).fail(function(data) {
            // Optionally alert the user of an error here...
        });
    });
</script>
{% endblock %}
