{% extends 'base-utilisateur.html.twig' %}

{% block breadcrumbs %}
	<a href="{{ path('utilisateur_publications_index') }}">Vos Publications</a> / Détails
{% endblock %}
{% block content %}
	<div class="heading">
		<h4>
			{{ publication.titre }} {% if publication.publicationInternationale == true %} <span class="fa fa-globe" title="{{ 'publications.apercu.internationale.oui'|trans }}"></span>{% endif %}
		</h4>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<div class="row">
				<div class="col-sm-12">{{ biblio.getAllAuteurs(publication)|raw }}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12"> <i>{{  publication.keywords }}</i></div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					{{ publication.resume|raw }}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					{{ publication.commentaire }}
				</div>
			</div>
		</div>
		<div class="col-sm-4 text-center">
			<div class="content-box-profile content-box-bordered no-margin">
				<div class="team-description">
					<dl class="dl-horizontal dl-apercu-horizontal">
						{% if publication.pageDebut != 0 and publication.pageDebut != null and publication.pageFin != 0 and publication
						.pageFin != null %}
							<dt>{{ 'publications.apercu.pagination'|trans }}</dt>
							<dd>pp. {{ publication.pageDebut }} - {{ publication.pageFin }}</dd>
						{% endif %}
						<dt>{{ 'publications.apercu.datepubli'|trans }}</dt>
						<dd>{{ publication.moisPublication }} / {{ publication.anneePublication }}</dd>
						{% if publication.pdf != '' and publication.pdf != null %}
							{%  if publication.pdfVisible == true or is_granted('ROLE_USER') %}
								{{ html.getButton(publication, 'Apercu', 'pdf')|raw }}
							{% endif %}
						{% endif %}

						{% if publication.doi != null and publication.doi != '' %}
							<dt>{{ 'publications.apercu.doi'|trans }}</dt>
							<dd>{{ html.getUrl(publication.doi)|raw }}</dd>
						{% endif %}
						{% if publication.url != null and publication.url != '' %}
							<dt>{{ 'publications.apercu.url'|trans }}</dt>
							<dd>{{ html.getUrl(publication.url)|raw }}</dd>
						{% endif %}
					</dl>
				</div>
			</div>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-sm-12">
			<div class="alert alert-info">
				{{ biblio.formatIEEE(publication)|raw }}
			</div>
		</div>
		<div class="col-sm-12">
			<pre>
				{{ biblio.formatBibtex(publication)|raw }}
			</pre>
		</div>
	</div>
	projets, equipes, plateformes
{% endblock %}
