{% extends 'base-utilisateur.html.twig' %}

{% block breadcrumbs %}
    <a href="{{ path('utilisateur_demande-om_index') }}">Demandes d'OM</a> / Nouvelle demande d'OM
{% endblock %}

{% block content %}
    <h1>Nouvelle demande d'OM</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
	{{ include('@App/Utilisateur/footer-new.html.twig', {var: 'demande-om'}) }}

	{{ form_end(form) }}
{% endblock %}
