{% extends '::base-admin.html.twig' %}

{% block breadcrumbs %}
	Configuration /
{% endblock %}

{% block content %}
    <h1>Configurations list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Cle</th>
                <th>Value</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for configuration in configurations %}
            <tr>
                <td>{{ configuration.cle }}</td>
                <td>{{ configuration.value|raw }}</td>
                <td>
	                <a href="{{ path('administration_configuration_show', { 'id': configuration.id }) }}" class="btn btn-info"
	                   title="Voir"><i class="fa fa-eye"></i> </a>
	                <a href="{{ path('administration_configuration_edit', { 'id': configuration.id }) }}" class="btn
                            btn-warning" title="Modifier"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	{# todo: Empecher la création#}
	<a href="{{ path('administration_configuration_new') }}" class="btn btn-primary">Créer une nouvelle
	                                                                                 configuration</a>

{% endblock %}
