{% extends '::base-admin.html.twig' %}

{% block breadcrumbs %}
	<a href="{{ path('administration_revues_index') }}">Revues</a> / Détails
{% endblock %}

{% block content %}
    <h1>Détails d'une revue</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td colspan="3">{% if revue.internationale %}<span class="fa fa-globe"></span>{% endif %}  {{ revue.titreRevue }}</td>
            </tr>
            <tr>
                <th>Sigle</th>
                <td>{{ revue.sigleRevue }}</td>
            </tr>
            <tr>
                <th>Impactfactor</th>
                <td>{{ revue.impactFactor }}</td>
                <th>Classification</th>
                <td>{{ revue.classification }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td colspan="3">{{ revue.url }}</td>
            </tr>
        </tbody>
    </table>

	{{ include('@App/Administration/footer-show.html.twig', {var: 'revues', obj:revue.id}) }}
{% endblock %}
