{% extends '::base-admin.html.twig' %}

{% block breadcrumbs %}
	<a href="{{ path('administration_revues_index') }}">Revues</a> / Détails
{% endblock %}

{% block content %}
    <h1>Détails d'une revue</h1>

    <table>
        <tbody>
            <tr>
                <th>Titrerevue</th>
                <td>{{ revue.titreRevue }}</td>
            </tr>
            <tr>
                <th>Siglerevue</th>
                <td>{{ revue.sigleRevue }}</td>
            </tr>
            <tr>
                <th>Internationale</th>
                <td>{% if revue.internationale %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Impactfactor</th>
                <td>{{ revue.impactFactor }}</td>
            </tr>
            <tr>
                <th>Classification</th>
                <td>{{ revue.classification }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ revue.url }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if revue.created %}{{ revue.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if revue.updated %}{{ revue.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

	{{ include('@App/Administration/footer-show.html.twig', {var: 'revue', obj:revue.id}) }}
{% endblock %}
