{% extends '::base-admin.html.twig' %}

{% block breadcrumbs %}
	Conférences /
{% endblock %}

{% block content %}
    <h1>Liste des conférences</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Conférence</th>
                <th>Sigle</th>
                <th>Ville</th>
                <th>Date début</th>
                <th>Date fin</th>
                <th>Tx sel.</th>
                <th>Site</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conference in conferences %}
            <tr>
                <td>{% if conference.internationale %}<span class="fa fa-globe"></span>{% endif %} {{ conference.nomConference }}</td>
                <td>{{ conference.sigleConference }}</td>
                <td>{{ conference.ville }}</td>
                <td>{% if conference.dateDebut %}{{ conference.dateDebut|date('d/m/Y') }}{% endif %}</td>
                <td>{% if conference.dateFin %}{{ conference.dateFin|date('d/m/Y') }}{% endif %}</td>
                <td>{{ conference.tauxSelection }}</td>
                <td>{% if conference.url != "" or conference.url != null %}<a href="{{ conference.url }}" target="_blank">Site de la conférence</a>{% endif %}</td>
                <td>
	                <a href="{{ path('administration_conferences_show', { 'id': conference.id }) }}" class="btn btn-info"
	                   title="Voir"><i class="fa fa-eye"></i> </a>
	                <a href="{{ path('administration_conferences_edit', { 'id': conference.id }) }}" class="btn
                            btn-warning" title="Modifier"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	<a href="{{ path('administration_conferences_new') }}" class="btn btn-primary">Créer une nouvelle conférence</a>

{% endblock %}
