{% extends '::base-admin.html.twig' %}
{% block breadcrumbs %}
	<a href="{{ path('administration_conferences_index') }}">Conférences</a> / Création /
{% endblock %}
{% block content %}
	<h1>Ajout d'une conférence</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}

	{{ include('@App/Administration/footer-new.html.twig', {var: 'conferences'}) }}

	{{ form_end(form) }}

{% endblock %}
