{% extends '::base-admin.html.twig' %}
{% block breadcrumbs %}
	<a href="{{ path('administration_conferences_index') }}">Conférences</a> / Détails /
{% endblock %}

{% block content %}
    <h1>Détails d'une conférence</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom conférence</th>
                <td colspan="3">{% if conference.internationale %}<span class="fa fa-globe"></span>{% endif %} {{ conference.nomConference }}</td>
            </tr>
            <tr>
                <th>Sigle conférence</th>
                <td>{{ conference.sigleConference }}</td>
                <th>Editeur</th>
                <td>{% if conference.editeur != null %}{{ conference.editeur.nom }}{% else %} - {% endif %}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ conference.ville }}</td>
                <th>Pays</th>
                <td>{% if conference.pays != null %} {{ conference.pays.nomFr }}{% else %} - {% endif %}</td>
            </tr>
            <tr>
                <th>Date début</th>
                <td>{% if conference.dateDebut %}{{ conference.dateDebut|date('d/m/Y') }}{% endif %}</td>
                <th>Date fin</th>
                <td>{% if conference.dateFin %}{{ conference.dateFin|date('d/m/Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Taux selection</th>
                <td>{{ conference.tauxSelection }}</td>
                <th>Url</th>
                <td>{{ conference.url }}</td>
            </tr>
        </tbody>
    </table>

	{{ include('@App/Administration/footer-show.html.twig', {var: 'conferences', obj:conference.id}) }}

{% endblock %}
