{% extends '::base-admin.html.twig' %}

{% block title %}
	Plateformes
{% endblock %}

{% block breadcrumbs %}
	Plateformes /
{% endblock %}

{% block content %}
	<h1>Liste des plateformes</h1>

	<table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Localisation</th>
                <th>Responsable</th>
                <th>Url</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plateforme in plateformes %}
            <tr>
                <td>{{ plateforme.nom }}</td>
                <td>{{ plateforme.localisation }}</td>
	            <td>{% if plateforme.responsable != null %} <a href="{{ path('public_membres_profil', {slug: plateforme
			            .responsable.slug})}}" target="_blank">{{ plateforme.responsable.display }}</a>{%
		            endif %}</td>
                <td><a href="{{ plateforme.url }}" target="_blank"> {{ plateforme.url }}</a></td>
                <td>
                    <a href="{{ path('administration_plateformes_options', { 'id': plateforme.id }) }}" class="btn
                            btn-success" data-toggle="tooltip" data-placement="bottom" title="Modifier les options"><i class="fa fa-wrench"></i></a>
	                <a href="{{ path('public_plateformes_profil', { 'slug': plateforme.slug }) }}" class="btn btn-info"
	                   title="Voir"><i class="fa fa-eye"></i> </a>
	                <a href="{{ path('administration_plateformes_edit', { 'id': plateforme.id }) }}" class="btn
                            btn-warning" title="Modifier"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a href="{{ path('administration_plateformes_new') }}" class="btn btn-primary">Ajouter une nouvelle
                                                                                           plateforme</a>

{% endblock %}
