{% extends '::base-admin.html.twig' %}

{% block breadcrumbs %}
	<a href="{{ path('administration_plateformes_index') }}">Plateformes</a> / Création
{% endblock %}

{% block content %}
	<h1>Ajout d'une plateforme</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}


	{{ include('@App/Administration/footer-new.html.twig', {var: 'plateformes'}) }}

	{{ form_end(form) }}
{% endblock %}
