{% extends '::base-admin.html.twig' %}

{% block breadcrumbs %}
	Sites du CReSTIC /
{% endblock %}

{% block content %}
    <h1>Liste des sites du CReSTIC</h1>

    <table class="table">
        <thead>
            <tr>
	            <th>Titre</th>
                <th>Mail</th>
                <th>Ville</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for site in sites %}
            <tr>
	            <td>{{ site.titre }}</td>
	            <td>{{ site.mail }}</td>
                <td>{{ site.ville }}</td>
                <td>
                    <a href="{{ path('administration_sites_show', { 'id': site.id }) }}" class="btn btn-info"
                       title="Voir"><i class="fa fa-eye"></i> </a>
                    <a href="{{ path('administration_sites_edit', { 'id': site.id }) }}" class="btn
                            btn-warning" title="Modifier"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

	<a href="{{ path('administration_sites_new') }}" class="btn btn-primary">Ajouter un nouveau site</a>
{% endblock %}
