{% extends '::base-admin.html.twig' %}

{% block breadcrumbs %}
	<a href="{{ path('administration_sites_index') }}">Sites du CReSTIC</a> / Création
{% endblock %}

{% block content %}
	<h1>Création d'un site</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}

	{{ include('@App/Administration/footer-new.html.twig', {var: 'sites'}) }}

	{{ form_end(form) }}
{% endblock %}
