{% extends '::base-admin.html.twig' %}

{% block breadcrumbs %}
	<a href="{{ path('administration_sites_index') }}">Sites du CReSTIC</a> / Détails
{% endblock %}

{% block content %}
    <h1>Détails d'un site géorgraphique du CReSTIC</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Titre</th>
            <td colspan="3">{{ site.titre }}</td>
        </tr>
            <tr>
                <th>Adresse</th>
                <td colspan="3">{{ site.adresse }} {{ site.cp }} {{ site.ville }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ site.tel }}</td>
                <th>Fax</th>
                <td>{{ site.fax }}</td>
            </tr>


            <tr>
                <th>Map</th>
                <td colspan="3">{{ site.map|raw }}</td>
            </tr>
            <tr>
                <th>Site Principal</th>
                <td>{% if site.principale %}Oui{% else %}Non{% endif %}</td>
            </tr>
        </tbody>
    </table>

	{{ include('@App/Administration/footer-show.html.twig', {var: 'sites', obj:site.id}) }}
{% endblock %}
