{% extends '::base-admin.html.twig' %}
{% block breadcrumbs %}
	<a href="{{ path('administration_editeur_index') }}">Editeurs</a> / Création /
{% endblock %}
{% block content %}
    <h1>Ajout d'un éditeur</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

	{{ include('@App/Administration/footer-new.html.twig', {var: 'editeurs'}) }}

	{{ form_end(form) }}

{% endblock %}
