{% extends '::base-admin.html.twig' %}
{% block breadcrumbs %}
    <a href="{{ path('administration_editeur_index') }}">Editeurs</a> / Détails /
{% endblock %}

{% block content %}
    <h1>Détails d'un éditeur</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Nom</th>
            <td>{{ editeur.nom }}</td>
        </tr>
        <tr>
            <th>Site Web</th>
            <td>{{ editeur.lien }}</td>
        </tr>
        {% if editeur != null %}
            <tr>
                <th>Ville</th>
                <td>{{ editeur.ville }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ editeur.pays }}</td>
            </tr>
        {% else %}
            <tr>
                <th>Ville</th>
                <td> - </td>
            </tr>
            <tr>
                <th>Pays</th>
                <td> - </td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    {{ include('@App/Administration/footer-show.html.twig', {var: 'editeur', obj:editeur.id}) }}

{% endblock %}
