{% extends '::base-responsable.html.twig' %}

{% block breadcrumbs %}
	<a href="{{ path('responsable_projets_index') }}">Projets</a> / Options /
{% endblock %}

{% block content %}
    <h1>Options du projet : {{ projet.titre }}</h1>
    <br />

    <a href="{{ path('responsable_projets_options', { 'id': projet.id }) }}" class="btn btn-success pull-right"><i class="fa fa-refresh"></i> Actualiser</a>
    <br>

    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#membres" role="tab" data-toggle="tab">Membres</a></li>
        <li><a href="#partenaires" role="tab" data-toggle="tab">Partenaires</a></li>
        <li><a href="#financeurs" role="tab" data-toggle="tab">Financeurs</a></li>
        <li><a href="#equipes" role="tab" data-toggle="tab">Equipes</a></li>
        <li><a href="#plateformes" role="tab" data-toggle="tab">Plateformes</a></li>
        <li><a href="#slider" role="tab" data-toggle="tab">Slider</a></li>
    </ul>

<div class="tab-content tab-default tab-default">
    <div class="tab-pane active" id="membres">
        <div class="alert alert-info">Cette partie vous permet d'associer les membres du CReSTIC à votre projet.</div>

        <table class="table" id="listemembre">
            <thead>
            <tr>
                <th>Nom Prénom</th>
                <th>Statut</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for membre in membres %}
                <tr>
                    <td>{{ membre|linkMembre|raw }}</td>
                    <td>{{ membre.statutlong }}</td>
                    {% if t.membres[membre.id] is defined %}
                        <td><a href="#" class="btn btn-warning remove" data-idoption="{{ membre.id }}" data-type="membre"><span class="fa fa-minus"></span></a></td>
                    {% else %}
                        <td><a href="#" class="btn btn-success add" data-idoption="{{ membre.id }}" data-type="membre"><span class="fa fa-plus"></span></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="equipes">
        <div class="alert alert-info">Cette partie vous permet d'associer les équipes du CReSTIC à votre projet.</div>

        <table class="table" id="listeequipe">
            <thead>
            <tr>
                <th>Nom</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for equipe in equipes %}
                <tr>
                    <td>{{ equipe.nom }}</td>
                    {% if t.equipes[equipe.id] is defined %}
                        <td><a href="#" class="btn btn-warning remove" data-idoption="{{ equipe.id }}" data-type="equipe"><span class="fa fa-minus"></span></a></td>
                    {% else %}
                        <td><a href="#" class="btn btn-success add" data-idoption="{{ equipe.id }}" data-type="equipe"><span class="fa fa-plus"></span></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="tab-pane" id="partenaires">
        <div class="alert alert-info">Cette partie vous permet d'associer des partenaires à votre projet. <a href="{{ path('responsable_partenaires_index') }}" target="_blank">Vous pouvez ajouter des partenaires ici</a>.</div>

        <table class="table" id="listepartenaire">
            <thead>
            <tr>
                <th>Nom</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for partenaire in partenaires %}
                <tr>
                    <td>{{ partenaire.nom }}</td>
                    {% if t.partenaires[partenaire.id] is defined %}
                        <td><a href="#" class="btn btn-warning remove" data-idoption="{{ partenaire.id }}"  data-type="partenaire"><span class="fa fa-minus"></span></a></td>
                    {% else %}
                        <td><a href="#" class="btn btn-success add" data-idoption="{{ partenaire.id }}"  data-type="partenaire"><span class="fa fa-plus"></span></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="financeurs">
        <div class="alert alert-info">Cette partie vous permet d'associer des financeurs à votre projet. <a href="{{ path('responsable_financeurs_index') }}" target="_blank">Vous pouvez ajouter des financeurs ici</a>.</div>

        <table class="table" id="listefinanceur">
            <thead>
            <tr>
                <th>Nom</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for financeur in financeurs %}
                <tr>
                    <td>{{ financeur.nom }}</td>
                    {% if t.financeurs[financeur.id] is defined %}
                        <td><a href="#" class="btn btn-warning remove" data-idoption="{{ financeur.id }}"  data-type="financeur"><span class="fa fa-minus"></span></a></td>
                    {% else %}
                        <td><a href="#" class="btn btn-success add" data-idoption="{{ financeur.id }}"  data-type="financeur"><span class="fa fa-plus"></span></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="slider">
        <div class="alert alert-info">Vous pouvez associer ici une image de slider à votre équipe. Le slider est le diaporama qui défile sur la page de votre équipe. Vous pouvez associer autant d'image que désiré. <a href="{{ path('responsable_slider_index') }}" target="_blank">Vous pouvez ajouter des images ici du slider ici</a>.</div>

        <table class="table" id="listeslider">
            <thead>
            <tr>
                <th>Titre</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for slider in sliders %}
                <tr>
                    <td>{{ slider.titre }}</td>
                    {% if t.sliders[slider.id] is defined %}
                        <td><a href="#" class="btn btn-warning remove" data-idoption="{{ slider.id }}"  data-type="slider"><span class="fa fa-minus"></span></a></td>
                    {% else %}
                        <td><a href="#" class="btn btn-success add" data-idoption="{{ slider.id }}"  data-type="slider"><span class="fa fa-plus"></span></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="plateformes">
        <table class="table" id="listeplateforme">
            <thead>
            <tr>
                <th>Nom</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for plateforme in plateformes %}
                <tr>
                    <td>{{ plateforme.nom }}</td>
                    {% if t.plateformes[plateforme.id] is defined %}
                        <td><a href="#" class="btn btn-warning remove" data-idoption="{{ plateforme.id }}" data-type="plateforme"><span class="fa fa-minus"></span></a></td>
                    {% else %}
                        <td><a href="#" class="btn btn-success add" data-idoption="{{ plateforme.id }}"  data-type="plateforme"><span class="fa fa-plus"></span></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

</div>


    <br />
    <div class="row">
        <div class="col-sm-9" style="text-align: right" >
            <a href="{{ path('responsable_projets_index') }}" class="btn btn-success">Paramètrage terminé, retour à la liste</a>
        </div>
        <div class="col-sm-3" style="text-align: right" >
            <a href="{{ path('responsable_projets_edit', { 'id': projet.id }) }}" class="btn
            btn-warning btn-block">Modifier le projet</a>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
<script>
    $( document ).ready(function(){
        $('#listemembre').DataTable(
            {
                "bSort": false
            }
        );

        $('#listepartenaire').DataTable(
            {
                "bSort": false
            }
        );

        $('#listefinanceur').DataTable(
            {
                "bSort": false
            }
        );


        $('#listeslider').DataTable(
            {
                "bSort": false
            }
        );

        $('#listeequipe').DataTable(
            {
                "bSort": false
            }
        );

        $('#listeplateforme').DataTable(
            {
                "bSort": false
            }
        );
    });

    $(document).on('click', '.add', function(e) {
        e.preventDefault();
        $obj = $(this);
        $.ajax({
            url: "{{ path('responsable_projets_ajax_option_add') }}",
            data: {
                projet: {{ projet.id }},
                idoption: $obj.data('idoption'),
                type: $obj.data('type')
            },
            method: 'post',
            success: function(data){
                $.notify(data, "success");
                $obj.removeClass('btn-success add').addClass('btn-warning remove').children('span').removeClass('fa-plus').addClass('fa-minus');
            },
            error: function(data){
                $.notify(data, "error");
            }
        });
    });

    $(document).on('click', '.remove', function(e) {
        e.preventDefault();
        $obj = $(this);
        $.ajax({
            url: "{{ path('responsable_projets_ajax_option_remove') }}",
            data: {
                projet: {{ projet.id }},
                idoption: $obj.data('idoption'),
                type: $obj.data('type')
            },
            method: 'post',
            success: function(data){
                $.notify(data, "success");
                $obj.removeClass('btn-warning remove').addClass('btn-success add').children('span').removeClass('fa-minus').addClass('fa-plus');

            },
            error: function(data){
                $.notify(data, "error");
            }
        });
    });
</script>
{% endblock %}