{% extends '::base-admin.html.twig' %}

{% block title %}
	Equipes
{% endblock %}

{% block breadcrumbs %}
	Equipes /
{% endblock %}

{% block content %}
    <h1>Lsite des équipes actuelles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
	            <th>Responsable</th>
                <th>Themerecherche</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for equipe in equipes if equipe.active == true %}
            <tr>
                <td>{{ equipe.nom }}</td>
	            <td>{% if equipe.responsable != null %}{{ equipe.responsable.display }}{% else %} ?? {% endif %}</td>
                <td>{{ equipe.themeRecherche|raw }}</td>
                <td>
	                <a href="{{ path('public_equipes_profil', { 'slug': equipe.slug }) }}" target="_blank" class="btn
	                btn-info" title="Voir"><i class="fa fa-eye"></i> </a>
	                <a href="{{ path('administration_equipes_edit', { 'id': equipe.id }) }}" class="btn
                            btn-warning" title="Modifier"><i class="fa fa-pencil"></i></a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a href="{{ path('administration_equipes_new') }}" class="btn btn-primary">Ajouter une nouvelle équipe</a>
<br><br>

	<h2>Liste des anciennes équipes</h2>

	<table class="table">
		<thead>
		<tr>
			<th>Nom</th>
			<th>Responsable</th>
			<th>Themerecherche</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		{% for equipe in equipes if equipe.active == false %}
			<tr>
				<td>{{ equipe.nom }}</td>
				<td>{% if equipe.responsable != null %}{{ equipe.responsable.display }}{% else %} ?? {% endif %}</td>
				<td>{{ equipe.themeRecherche }}</td>
				<td>
					<a href="{{ path('public_equipes_profil', { 'slug': equipe.slug }) }}" target="_blank" class="btn
	                btn-info" title="Voir"><i class="fa fa-eye"></i> </a>
					<a href="{{ path('administration_equipes_edit', { 'id': equipe.id }) }}" class="btn btn-warning" title="Modifier"><i class="fa fa-pencil"></i></a>

				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
