{% extends 'base-responsable.html.twig' %}

{% block breadcrumbs %}
    <a href="{{ path('responsable_slider_index') }}">Slides/Images</a> / Détails
{% endblock %}

{% block content %}
    <h1>Slider</h1>

    <img src="{{ asset('uploads/slider/'~slider.image) }}"></td>

                <a href="{{ slider.url }}" target="_blank">{{ slider.url }}</a>

                <th>Titre</th>
                <td>{{ slider.titre }}</td>

                <th>Texte</th>
                <td>{{ slider.texte }}</td>

    {{ include('@App/Responsable/footer-show.html.twig', {var: 'slider', obj:slider.id}) }}
{% endblock %}
