{% extends '::base-admin.html.twig' %}

{% block breadcrumbs %}
    <a href="{{ path('administration_membresexterieurs_index') }}">Membres Extérieurs</a> / Modification /
{% endblock %}

{% block content %}
    <h1>Modification d'un membre</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    {{ include('@App/Administration/footer-edit.html.twig', {var: 'membresexterieurs'}) }}

    {{ form_end(edit_form) }}


{% endblock %}
