{% extends '::base-admin.html.twig' %}

{% block breadcrumbs %}
	Agenda /
{% endblock %}

{% block content %}
    <h1>Agendas list</h1>

	<table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Lieu</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agenda in agendas %}
            <tr>
                <td>{{ agenda.titre }}</td>
                <td>{{ agenda.description }}</td>
                <td>{% if agenda.datedebut %}{{ agenda.datedebut|date('Y-m-d') }}{% endif %} {% if agenda.heuredebut %}{{ agenda.heuredebut|date('H:i:s') }}{% endif %}</td>
                <td>{% if agenda.datefin %}{{ agenda.datefin|date('Y-m-d') }}{% endif %} {% if agenda.heurefin %}{{ agenda.heurefin|date('H:i:s') }}{% endif %}</td>
                <td>{{ agenda.lieu }}</td>
                <td>{{ agenda.type }}</td>
                <td>
	                <a href="{{ path('administration_agenda_show', { 'id': agenda.id }) }}" class="btn btn-info"
	                   title="Voir"><i class="fa fa-eye"></i> </a>
	                <a href="{{ path('administration_agenda_edit', { 'id': actualite.id }) }}" class="btn
                            btn-warning" title="Modifier"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('administration_agenda_new') }}" class="btn btn-primary">Create a new agenda</a>
        </li>
    </ul>
{% endblock %}
