{% extends '::base-admin.html.twig' %}

{% block breadcrumbs %}
	Agenda /
{% endblock %}

{% block content %}
    <h1>Evénements à venir</h1>

	<table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Date début</th>
                <th>Date fin</th>
                <th>Lieu</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agenda in agendas if date(agenda.datefin) >= date() %}
            <tr>
                <td>{{ agenda.titre }}</td>
                <td>{% if agenda.datedebut %}{{ agenda.datedebut|date('d/m/Y') }}{% endif %} {% if agenda.heuredebut %}{{ agenda.heuredebut|date('H:i') }}{% endif %}</td>
                <td>{% if agenda.datefin %}{{ agenda.datefin|date('d/m/Y') }}{% endif %} {% if agenda.heurefin %}{{ agenda.heurefin|date('H:i') }}{% endif %}</td>
                <td>{{ agenda.lieu }}</td>
                <td>{{ agenda.type }}</td>
                <td>
	                <a href="{{ path('administration_agenda_show', { 'id': agenda.id }) }}" class="btn btn-info"
	                   title="Voir"><i class="fa fa-eye"></i> </a>
	                <a href="{{ path('administration_agenda_edit', { 'id': agenda.id }) }}" class="btn
                            btn-warning" title="Modifier"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


            <a href="{{ path('administration_agenda_new') }}" class="btn btn-primary">Ajouter une entrée</a>

	<br/><br/>
	<h2>Evénements passés</h2>

	<table class="table">
		<thead>
		<tr>
			<th>Titre</th>
			<th>Date début</th>
			<th>Date fin</th>
			<th>Lieu</th>
			<th>Type</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		{% for agenda in agendas if date(agenda.datefin) < date() %}
			<tr>
				<td>{{ agenda.titre }}</td>
				<td>{% if agenda.datedebut %}{{ agenda.datedebut|date('d/m/Y') }}{% endif %} {% if agenda.heuredebut %}{{ agenda.heuredebut|date('H:i') }}{% endif %}</td>
				<td>{% if agenda.datefin %}{{ agenda.datefin|date('d/m/Y') }}{% endif %} {% if agenda.heurefin %}{{ agenda.heurefin|date('H:i') }}{% endif %}</td>
				<td>{{ agenda.lieu }}</td>
				<td>{{ agenda.type }}</td>
				<td>
					<a href="{{ path('administration_agenda_show', { 'id': agenda.id }) }}" class="btn btn-info"
					   title="Voir"><i class="fa fa-eye"></i> </a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

{% endblock %}
