{% extends '::base-admin.html.twig' %}

{% block breadcrumbs %}
	<a href="{{ path('administration_agenda_index') }}">Agenda</a> / Détails /
{% endblock %}

{% block content %}
    <h1>Détails d'un événement</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Titre</th>
                <td>{{ agenda.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ agenda.description|raw }}</td>
            </tr>
            <tr>
                <th>Date début</th>
                <td>{% if agenda.datedebut %}Le {{ agenda.datedebut|date('d/m/Y') }}{% endif %} {% if agenda.heuredebut
	                %} à {{ agenda.heuredebut|date('H:i') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date fin</th>
                <td>{% if agenda.datefin %}Le {{ agenda.datefin|date('d/m/Y') }}{% endif %} {% if agenda.heurefin %}
		                à {{
	                agenda.heurefin|date('H:i') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ agenda.lieu }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ agenda.type }}</td>
            </tr>
        </tbody>
    </table>

	{{ include('@App/Administration/footer-show.html.twig', {var: 'agenda', obj:agenda.id}) }}
{% endblock %}
