<ul>
    {% for annee in  anneefin..2004 if publications[annee]|length > 0 %}
        <li>{{ annee }}
            <ul class="da-liste-biblio">
                {% for type in types %}
                    {% for publication in publications[annee][type] %}
                        <li>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="btn-group">
                                        <a href="#" title="Publication de type {{ publication.type }}" class="btn"><span
                                                    style="background-color: {{ publication.couleur }}; width: 15px; height: 15px;display:inline-block">&nbsp;</span></a>

                                        <a href="{{ path('public_publication_show', {id:publication.id, type: publication.type}) }}"
                                           class="btn" target="_blank" title="Détails">
                                            <span class="fa fa-eye"></span>
                                        </a>
                                        {% if publication.doi != '' or publication.doi != null %}
                                            <a href="{{ publication.doiLink }}" class="btn" target="_blank" title="DOI">
                                                <span class="fa fa-external-link"></span>
                                            </a>
                                        {% else %}
                                            {% if publication.url != '' or publication.url != null %}
                                                <a href="{{ publication.url }}" class="btn" target="_blank"
                                                   title="Site web">
                                                    <span class="fa fa-globe"></span>
                                                </a>
                                            {% else %}
                                                <a href="#" class="btn" target="_blank"
                                                   title="Site web" disabled="" style="color:darkgray">
                                                    <span class="fa fa-globe"></span>
                                                </a>
                                            {% endif %}
                                        {% endif %}



                                        {#{% if publication.hal != '' or publication.hal != null %}
                                        <a href="{{ publication.hal }}" class="btn" target="_blank"
                                           title="Lien HAL">
                                            <span class="fa fa-newspaper-o"></span>
                                        </a>
                                        {% else %}
                                            <a href="{{ publication.hal }}" class="btn" target="_blank"
                                               title="Lien HAL" disabled="" style="color:darkgray">
                                                <span class="fa fa-newspaper-o"></span>
                                            </a>
                                        {% endif %}#}


                                        {% if publication.pdfVisible == true or not is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                                            <a href="{{ asset('/uploads/publications/'~publication.pdf) }}" class="btn" target="_blank"
                                               title="PDF">
                                                <span class="fa fa-file-pdf-o"></span>
                                            </a>
                                        {% else %}
                                            <a href="{{ asset('/uploads/publications/'~publication.pdf) }}" class="btn" target="_blank"
                                               title="PDF" disabled="" style="color:darkgray">
                                                <span class="fa fa-file-pdf-o"></span>
                                            </a>
                                        {% endif %}

                                        {#<a href="#" class="btn bibtex" target="_blank"
                                           title="Bibtex" data-toggle="modal" data-target="#modalBibTex" data-publication="{{ publication.id }}">
                                            <span class="fa fa-share-alt"></span>
                                        </a>#}
                                    </div>
                                </div>

                                <div class="col-sm-8">
                                    <span>{{ biblio.formatIEEE(publication) | raw }}</span>
                                </div>
                                <div class="col-sm-1">
                                    {% if publication.publicationInternationale == true %}
                                        <span class="fa fa-globe"
                                              title="{{ 'publications.apercu.internationale.oui'|trans }}"></span>
                                    {% else %}
                                        <span class="fa fa-flag"
                                              title="{{ 'publications.apercu.nationale.oui'|trans }}"></span>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    <li>{{ 'visiteur.publication.plusancienne'|trans }}
        <ul class="da-liste-biblio">
            {% for publication in publications[0] %}
                <li>
                    <div class="row">
                        <div class="col-sm-3">

                        </div>

                        <div class="col-sm-9">
                            <span>{{ biblio.formatIEEE(publication) | raw }}</span>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </li>
</ul>