{% extends '::base-admin.html.twig' %}

{% block breadcrumbs %}
	Projets /
{% endblock %}

{% block content %}
	<h1>Liste des projets</h1>

	<table class="table">
        <thead>
            <tr>
	            {# todo: picot si international ou si these #}
                <th>Titre</th>
                <th>Datedebut</th>
                <th>Datefin</th>
	            <th>Responsable</th>
                <th>Financement</th>
                <th>Url</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projet in projets %}
            <tr>
                <td>{{ projet.titre }}</td>
                <td>{% if projet.dateDebut %}{{ projet.dateDebut|date('Y-m-d') }}{% endif %}</td>
                <td>{% if projet.dateFin %}{{ projet.dateFin|date('Y-m-d') }}{% endif %}</td>
	            <td>{% if projet.responsable != null %} <a href="{{ path('public_membres_profil', {slug: projet
			            .responsable.slug})}}" target="_blank">{{ projet.responsable.display }}</a>{%
		            endif %}</td>
                <td>{{ projet.financement }}</td>
	            <td><a href="{{ projet.url }}" target="_blank"> {{ projet.url }}</a></td>
                <td>
                    <a href="{{ path('administration_projets_membres', { 'id': projet.id }) }}" class="btn
                            btn-success" data-toggle="tooltip" data-placement="bottom" title="Modifier les membres"><i class="fa fa-wrench"></i></a>
	                <a href="{{ path('public_projet_profil', { 'slug': projet.slug }) }}" target="_blank" class="btn btn-info"
	                   title="Voir"><i class="fa fa-eye"></i> </a>
	                <a href="{{ path('administration_projets_edit', { 'id': projet.id }) }}" class="btn
                            btn-warning" title="Modifier"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a href="{{ path('administration_projets_new') }}" class="btn btn-primary">Ajouter un nouveau projet</a>
{% endblock %}
