{% extends '::base-admin.html.twig' %}

{% block breadcrumbs %}
	<a href="{{ path('administration_projets_index') }}">Projets</a> / Membres /
{% endblock %}

{% block content %}
    <h1>Membres du projet</h1>
    <h2>{{ projet.titre }}</h2>

    <table class="table" id="listemembre">
        <thead>
        <tr>
            <th>Nom Prénom</th>
            <th>Statut</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for membre in membres %}
            <tr>
                <td>{{ membre.display }}</td>
                <td>{{ membre.statutlong }}</td>
                {% if t[membre.id] is defined %}
                <td><a href="#" class="btn btn-warning removemembre" data-membre="{{ membre.id }}"><span class="fa fa-minus"></span></a></td>
                {% else %}
                <td><a href="#" class="btn btn-success addmembre" data-membre="{{ membre.id }}"><span class="fa fa-plus"></span></a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-9" style="text-align: right" >
            <a href="{{ path('administration_projets_index') }}">Retour à la liste</a>
        </div>
        <div class="col-sm-3" style="text-align: right" >
            <a href="{{ path('administration_projets_edit', { 'id': projet.id }) }}" class="btn
            btn-warning btn-block">Modifier</a>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
<script>
    $( document ).ready(function(){
        $('.addmembre').click(function(e){
            e.preventDefault();
            $obj = $(this);
            $.ajax({
               url: "{{ path('administration_projets_ajax_membre') }}",
               data: {
                   projet: {{ projet.id }},
                   membre: $(this).data('membre')
               },
                method: 'post',
                success: function(){
                    $.notify("Membre ajouté au projet", "success");
                    $obj.removeClass('btn-success addmembre').addClass('btn-warning removemembre').children('span').removeClass('fa-plus').addClass('fa-minus');
                },
                error: function(){
                    $.notify("Erreur lors de l'ajout du membre au projet", "error");
                }
            });
        });

        $('.removemembre').click(function(e){
            e.preventDefault();
            $obj = $(this);

            $.ajax({
                url: "{{ path('administration_projets_ajax_membre_remove') }}",
                data: {
                    projet: {{ projet.id }},
                    membre: $(this).data('membre')
                },
                method: 'post',
                success: function(){
                    $.notify("Membre retiré du projet", "success");
                    $obj.removeClass('btn-warning removemembre').addClass('btn-success addmembre').children('span').removeClass('fa-minus').addClass('fa-plus');

                },
                error: function(){
                    $.notify("Erreur lors du retrait du membre du projet", "error");
                }
            });
        });

        $('#listemembre').DataTable();
    });
</script>
{% endblock %}